body {
    margin: 0;
    padding: 0;
    background-color: #FFD566;
}

nav {
    margin-top: 1%;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card {
    margin:  1%;
}

.posts {
    width: 95%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;

    border-radius: 10px;
    background-color: #66ECFF;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}